.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 94.5vh;
}

.left-side {
  background-color: rgb(77, 153, 219);
  max-width: 13em;
  min-width: 5em;
}

.left-side img {
  display: flex;
  height: 40px;
  text-align: start;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
