.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 94.5vh;
}

.left-side {
  background-color: rgb(77, 153, 219);
  max-width: 13em;
  min-width: 5em;
  transition: max-width 0.3s ease-in-out;
}

.left-side.open {
  max-width: 13em;
}

.left-side.closed {
  max-width: 0;
}

.left-side img {
  display: flex;
  height: 40px;
  text-align: start;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

/* right-side videos container  */
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
