.home-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  min-height: 94.5vh;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.closed p {
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.open p {
  display: grid;
  transition: opacity 1s ease-out 0.2s;
  opacity: 1;
}

@media (max-width: 1250px) {
  .item p {
    display: none;
  }
}

.right-side {
  padding: 0 20px;
}

.left-side {
  background-color: whitesmoke;
  max-width: 13em;
  min-width: 5em;
  transition: max-width 0.3s ease-in-out;
}

.left-side.open {
  max-width: 13em;
}

.left-side.closed {
  max-width: 0;
}

.left-side img {
  display: flex;
  height: 40px;
  text-align: start;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

/* right-side videos container  */
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
