@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Roboto+Condensed:wght@300;400&display=swap");

body,
html {
  margin: 0;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

/* Styles for the title on the left */
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1.3;
  z-index: 9999;
}

/* Styles for the title text */
.navbar-title {
  font-size: 25px;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.navbar-title:hover {
  cursor: pointer;
}

/* Styles for the search bar in the middle */
.navbar-middle {
  flex: 3;
  text-align: center;
  margin-left: -36px;
}

/* Styles for the search input */
.search-bar {
  width: 50%;
  padding: 8px;
  border-radius: 15px;
  border: 0.5px solid grey;
}

/* Styles for the button on the right */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  /* text-align: right; */
}

/* Styles for the button */
.nav-button {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.navbar-logo {
  height: 37px;
}

.navbar-logo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 20px;
  }

  .navbar-logo {
    height: 50px;
  }
}

.left-btn {
  margin-left: -40px;
  margin-right: 4px;
}

.search-btn {
  margin-left: -30px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}

.menu-img {
  height: 30px;
  color: white;
  margin-right: 4px;
}

.user-icon {
  height: 30px;
  margin-left: 20px;
}
